# Variables

Variables are containers for storing data values. 

Creating variables in Python is very simple: we type the name of the variable, then an equals sign, then put the value that we are assigning to that variable on the right of equals sign.

A variable in Python can hold any type of data, this could be a primitive value (a number or
character), or an object (a string, sprite, list, etc).

In [7]:
score = 0
name = "Mr. Powers"
aList = [1, 2, 3, 4 ]
aTuple = (1, 2, 3, 4)

## Rules of Variables

    Variable names can contain only letters, numbers, and underscores. 
    
    Note: They can start with a letter or an underscore, but not with a number.

In [8]:
message_1 = "correct"

In [9]:
1_message = "incorrect"

SyntaxError: invalid decimal literal (2351394542.py, line 1)

In [10]:
message2@="incorrect"

NameError: name 'message2' is not defined

    Spaces are not allowed in variable names, but underscores can be used to separate words in variable names.

In [11]:
greeting_message = "correct"
greeting message = "incorrect"

SyntaxError: invalid syntax (3216836115.py, line 2)

    Avoid using Python keywords and function names as variable names; 
    Do not use words that Python has reserved for a particular programmatic purpose
| | | | | |
|:---|:---|:---|:---|:---|
|False| class| finally|is|return|
|None|continue|for|lambda|try|
|True|def|from|nonlocal|while|
|and|del|global|not|with|
|as|elif|if|or|yield|
|assert|else|import|pass| |
|break|except|in|raise| |

In [12]:
#print="Correct but dont use"
print("blabla")
#and = "incorrect"

blabla

    Variable names should be short but descriptive. For example, name is better than n, student_name is better than s_n, and name_length is better than length_of_persons_name.

In [13]:
n = "bad"
name = "good"
s = "bad"
s_n = "bad"
student_name = "good"
length_of_persons_name = "ok"
name_length = 'better'

    Be careful when using the lowercase letter l and the uppercase letter O because they could be confused with the numbers 1 and 0.

In [14]:
message = "this will not work"
print(message)

this will not work

In [15]:
mesage = 'HELLO ETE 4990!'
print(mesage)
print("You can also do this", mesage)
print(mesage.title())
print(mesage.find("4"))

HELLO ETE 4990!
You can also do this HELLO ETE 4990!
Hello Ete 4990!
10

## Methods

A method is an action that Python can perform on a piece of data. 

The dot after the mesage tells Python to perform the title() method on the variable. 

It is important to note that a method is allwas followed by a set of parentheses. In many cases the method needs additional information to perform an action. 

In this case the parentheses are empty but wat about the method print()

# Print Statments

In [16]:
print("Score: ", score, type(score),"  Name: ", name, type(name), 
      "  A List:", aList, type(aList), "  A Tuple:", aTuple, type(aTuple))
print("\tScore:\t", score, type(score))
print("\tName:\t", name, type(name))
print("\tA List:\t", aList, type(aList))
print("\tA Tuple:", aTuple, type(aTuple))

Score:  0 <class 'int'>   Name:  good <class 'str'>   A List: [1, 2, 3, 4] <class 'list'>   A Tuple: (1, 2, 3, 4) <class 'tuple'>
	Score:	 0 <class 'int'>
	Name:	 good <class 'str'>
	A List:	 [1, 2, 3, 4] <class 'list'>
	A Tuple: (1, 2, 3, 4) <class 'tuple'>

In [17]:
print(name + str(score))

good0

## Global and Local variables

In Python it is fairly simple to create and assign values to variables, however it is a little more complex to use them. Here we will discuss what is known as scope .

Scope is the area of code in a program where a certain (variable) name is valid, meaning itcan be used.

Mainly there are 2 types of scopes for variables Global and Local

In [18]:
def change_score():
    #score = 0
    global score 
    score+=1
    print(score)

In [19]:
print(score)
change_score()
print(score)

0
1
1

## if statments

An If statment is the heart of every function. It is a conditional test and it uses the values of True and False to deside to exicute the code.

In [20]:
name == "MR. Powers"

False

In [21]:
#name == "Mr. Powers"
name = "Bill Nie"

In [22]:
name.lower() == "mr. powers"

False

In [23]:
print(name)

Bill Nie

An if statment has the following setup

```python
    if conditional_test:
       do something 
```

In [24]:
if name != "Bill Nie":
    print("you are not a famous TV star")

In [25]:
if score !=0:
    print("score is not 0")
else:
    print("score is 0")

score is not 0

In [6]:
score+=1
print(score>=0)
print(score<0)
print(score>0)
print("Hello" =="olleH")

True
False
True
False

In [26]:
print(score>=0 and aList[0]==1)
print(True and False)
print(False and False)

True
False
False

In [27]:
2 in aList

True

In [28]:
6 in aList

False

In [31]:
if 6 not in aTuple:
    print("six is not in aList")
else:
    print("six is in aList")

six is not in aList

In [39]:
aTuple[1]=3

TypeError: 'tuple' object does not support item assignment

In [40]:
jupytext --to Lecture2 notebook.pdf

SyntaxError: invalid syntax (3183941648.py, line 1)

In [34]:
print(aTuple)

(6, 3)

In [37]:
aList[3] = 1

In [38]:
print(aList)

[1, 1, 3, 1]